body,html{
  height: 100%;
}
body {
  font-size: 1.2rem;
  background-color: #0D0D20;
  color: white;
}
p{
  margin: 1rem;
}
.Nunito{
  font-family: 'Nunito', sans-serif;
}
.block{
    border-radius: 5px
}
.red{
  background-color: rgb(255 0 0 / 0.3);
  /* font-family: sans-serif; */
}
.green{
  background-color: rgb(0 255 0 / 0.3);
  /* font-family: serif; */
}
.blue{
  background-color: rgb(0 0 255 / 0.3);
  /* font-family: 'Caveat', cursive; */
}
.card-link{
  font-size: 0.8rem;
  font-style: italic;
}
