# -------------------------
# Blacklisted Files
# -------------------------

# ignore all files starting with . or ~
.*
~*

# -------------------------
# Whitelisted Files
# -------------------------

# track these files, if they exist
!.gitignore
